<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  
  <targets>
    <target name="fapp" xsi:type="File" fileName="${logDirectory}/applog.txt"/>
    <target name="fakka" xsi:type="File" fileName="${logDirectory}/akkalog.txt"/>
    <target xsi:type="Console" name="fconsole"/>
  </targets>
  <rules>
    <logger name="EY.SSA.*" levels="Debug,Info,Warn,Error" writeTo="fconsole" />
    <logger name="EY.SSA.*" levels="Debug,Info,Warn,Error" writeTo="fapp" />
    <!--<logger name="EY.SSA.*" minlevel="Debug" maxlevel="Error" writeTo="fapp" />-->
    <logger name="*" levels="Debug,Info,Warn,Error" writeTo="fakka" />
    <!--No writeTo in the line below == no further rules are processed after this line-->
    <!--<logger name="Name.Space.*" minlevel="Debug" maxlevel="Error" final="true" />--> 
  </rules>
  <!--<extensions></extensions>
  <include></include>
  <variables></variables>-->
</nlog>
