<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.8" targetFramework="net461" />
  <package id="Akka.Cluster" version="1.0.8.25-beta" targetFramework="net461" />
  <package id="Akka.Logger.NLog" version="1.0.8" targetFramework="net461" />
  <package id="Akka.Persistence" version="1.0.6.17-beta" targetFramework="net461" />
  <package id="Akka.Remote" version="1.0.8" targetFramework="net461" />
  <package id="Common.Logging" version="3.3.2-Alpha3" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.3.2-Alpha3" targetFramework="net461" />
  <package id="CouchbaseNetClient" version="2.2.8" targetFramework="net461" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net461" />
  <package id="Helios" version="1.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net461" />
  <package id="NLog" version="4.3.2" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.2.0-rc2-24027" targetFramework="net461" />
</packages>